head
  meta(charset="utf-8")
  title KOMA / Miyashita Keita
  link(href="/css/style.css", rel="stylesheet")
  link(href="/css/bootstrap.min.css", rel="stylesheet")
  link(href="img/koma-logo.svg", rel="shortcut icon")
  script(type="text/javascript" src="js/p5.js")
