header.header
  section.title
    a(href="index.html").title_logo
      img(src="img/koma_logo.svg", width='45', height='45')
    h1.title_typo KOMA / Miyashita Keita
      
  ul.navbar
    li
      a(href="index.html") home
    li
      a(href="index.html") about
    li
      a(href="index.html") portfolio
    li
      a(href="index.html") contact
