doctype html
html(lang='ja')
	head
		meta(charset="utf-8")
		title タイトル
		link(href="/css/style.css", rel="stylesheet")
	body
		header.header
		navbar.nav
		section.contents
			h1 hello!!
		footer.footer
